div#referenties
{ color: #9C9C9C; }

div#referenties a {
	color: #9C9C9C;	
}

div#referenties h1
{ font-size: 164%; font-weight: normal; margin: 0px; padding: 0px; height: 27px; }

div#referenties h2
{ font-size: 86%; font-weight: normal; margin: 0px 0px 10px 0px; padding: 0px; height: 14px; }

div#stof_lijst
{ display: inline-block; min-width: 242px; max-width: 242px; }

div#referentie_overzicht
{ display: inline-block; }

div.stof_soorten
{ display: block; margin-bottom: 10px; font-size: 86%; line-height: 18px; }

.stof_naam
{ display: inline-block; font-weight: bold; padding: 2px 10px; cursor: pointer; }

.stof_naam:hover
{ text-decoration: none; background-color: #E3E3E3; }

.stof_soort
{ display: inline-block; padding: 2px 10px; margin-left: 20px; cursor: pointer; border-left: 1px dotted #E3E3E3; }

.stof_soort:hover
{ text-decoration: none; background-color: #E3E3E3; }

form#stof_doel
{ display: none; }

/* Klz.referenties - registreren - 11.08.2015 - Carl Demessemaeker */

form#reg_mail
{ display: inline-block; width: 240px; padding: 10px 20px; margin: 10px 2px 1px 0px; background-color: #E3E3E3; font-size: 86%; }

form#reg_mail b
{ font-size: 117%; }

input#reg_veld
{ width: 200px; border: none; margin: 5px 0px; padding: 2px 5px; }

p#reg_opm
{ display: none; padding-left: 10px; font-style: italic; }

input#reg_knop
{ display: inline-block; padding: 2px 10px; float: right; color: #FFFFFF; background-color: #9C9C9C; cursor: pointer; width: 120px; }

input#reg_knop:hover
{ background-color: #535353; }

/* Klz.referenties - zoekbalk - 12.08.2015 - Carl Demessemaeker */

form#zoeken
{ display: inline-block; position: relative; margin: 0px 1px 1px 0px; background-color: #E3E3E3; padding: 10px; }

input#zoek_veld
{ width: 200px; border: none; margin: 0px 0px 0px 10px; padding: 2px 5px; }

#btn_uitlopende_ref_zoeken
{ 
	display: inline-block; padding: 2px 10px; color: #FFFFFF; background-color: #9C9C9C; cursor: pointer; float: right; 
	border:0px;
}

#btn_uitlopende_ref_zoeken:hover
{ background-color: #535353; }

/* Klz.referenties - zoekresultaten - 29.02.2016 - Carl Demessemaeker */

div#zoeklijst
{ position: relative; display: inline-block; /*float: right;*/ }

span#zoek_kop
{ display: inline-block; font-size: 143%; padding: 10px 0px; }

div.relevante_lijst
{ position: relative; display: inline-block; min-width: 220px; max-width: 370px; margin: 0px 20px 20px 0px; float: left; 
 font-size: 86%; line-height: 18px; }

div.relevante_lijst h3
{ font-size: 117%; margin: 0px 0px 10px 0px; padding: 0px 0px 5px 0px; }

table.zoek_tabel
{ display: block; width: 100%; margin-top: 10px; }

table.zoek_tabel th
{ padding: 0px 10px; color: #FFFFFF; font-weight: 100; width: 50%; border-right: 2px solid #FFFFFF; border-bottom: 2px solid #FFFFFF; white-space: nowrap; }

table.zoek_tabel td
{ padding: 0px 10px; border-right: 2px solid #FFFFFF; white-space: nowrap; }

table.zoek_tabel tr:hover td
{ background-color: #E3E3E3; }

/* Klz.referenties - overzicht - 29.02.2016 - Carl Demessemaeker */

div#referentielijst
{ position: relative; display: inline-block; float: left; }

span#lijst_kop
{ display: inline-block; font-size: 143%; padding: 10px 0px; }

span#lijst_tijd
{ display: inline-block; background-color: #E3E3E3; margin: 5px 0px 0px 20px; padding: 5px 10px; float: right; font-size: 86%; }

span#lijst_info
{ display: inline-block; margin: 10px 0px 20px 0px; font-size: 86%; }

div.status_lijst
{ position: relative; display: inline-block; min-width: 180px; max-width: 300px; margin: 0px 20px 20px 0px; float: left; 
 font-size: 86%; line-height: 18px; }

div.status_lijst h3
{ font-size: 117%; margin: 0px 0px 10px 0px; padding: 0px 0px 5px 0px; }

table.status_tabel
{ /*display: block;*/ width: 100%; margin-top: 10px; }

table.status_tabel th
{ color: #FFFFFF; font-weight: 100; width: 50%; border-right: 2px solid #FFFFFF; border-bottom: 2px solid #FFFFFF; white-space: nowrap; }

table.status_tabel td
{ border-right: 2px solid #FFFFFF; white-space: nowrap; }

table.status_tabel th,
table.status_tabel td {
	padding: 3px 10px;
	font-weight: bold;
	font-size: 11px;
}

tr.even
{ background-color: #F0F0F0; }

td.even
{ background-color: #F0F0F0; }

td.gecentreerd
{ text-align: center; }

table.status_tabel tr:hover td
{ background-color: #E3E3E3; }

ul.ref-groepen {
	margin:0px;
	padding:0px;
	list-style:none;
}

#referentielijst_header {
	margin-bottom: 20px;
}