/* === color === */

a, a:hover,a:focus,a:active, footer a.text-link:hover, strike, .post-meta span a:hover, footer a.text-link, 
ul.meta-post li a:hover, ul.cat li a:hover, ul.recent li h6 a:hover, ul.portfolio-categ li.active a, ul.portfolio-categ li.active a:hover, ul.portfolio-categ li a:hover,ul.related-post li h4 a:hover, span.highlight,article .post-heading h3 a:hover,
.navbar .nav > .active > a,.navbar .nav > .active > a:hover,.navbar .nav > li > a:hover,.navbar .nav > li > a:focus,.navbar .nav > .active > a:focus, .validation  { 
	color:#929292;
}

.navbar-brand span{
    color: #929292;
}

header .nav li a:hover,
header .nav li a:focus,
header .nav li.active a,
header .nav li.active a:hover,
header .nav li a.dropdown-toggle:hover,
header .nav li a.dropdown-toggle:focus,
header .nav li.active ul.dropdown-menu li a:hover,
header .nav li.active ul.dropdown-menu li.active a{
	color:#929292;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color:#929292;
        border-bottom : 1px solid #929292;
        padding-bottom:2px;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	color:#929292;
}	
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
	color:#929292;
}
/* === background color === */

.custom-carousel-nav.right:hover, .custom-carousel-nav.left:hover, 
.dropdown-menu li:hover,
.dropdown-menu li a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a, 
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.pagination ul > .active > a:hover,
.pagination ul > .active > a,
.pagination ul > .active > span,
.flex-control-nav li a:hover, 
.flex-control-nav li a.active {
  background-color: #e8e8e8;
}


.breadcrumb {
    color:#929292;
}   

/* === border color === */
.pagination ul > li.active > a,
.pagination ul > li.active > span, a.thumbnail:hover, input[type="text"].search-form:focus {
	border:1px solid #929292;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #68A4C4;
}

input:focus {
	border-color: #929292;
}


#sendmessage {
	color: #929292;
}

.pullquote-left {
	border-left:5px solid #929292;
}

.pullquote-right {
	border-right:5px solid #929292;
}

/* cta */

.cta-text h2 span {
	color: #929292;
}

ul.clients li:hover {
	border:4px solid #929292;
}

/* box */
.box-bottom {
	background:#929292;
}

/* buttons */
.btn-dark:hover,.btn-dark:focus,.btn-dark:active  {
  background: #929292;
  border:1px solid #929292;
}

.btn-theme {
  border:1px solid #929292;
  background: #929292;
}

/* modal styled */
.modal.styled .modal-header {
  background-color: #929292;
}


/* blog */
.post-meta {
	border-top:4px solid #929292;
}

.post-meta .comments a:hover  {
	color:#929292;
}

.widget ul.tags li a:hover {
	background: #929292;
}

.recent-post .text h5 a:hover{
	color:#929292;
}

/* pricing box */

.pricing-box-alt.special .pricing-heading {
	background: #929292;
}


/* portfolio */
.item-thumbs .hover-wrap .overlay-img-thumb {
	background: #929292;	
}


/* pagination */
#pagination a:hover {
    background: #929292;
}

/* pricing box */
.pricing-box.special .pricing-offer{
	background: #929292;
}


/* fontawesome icons */
.icon-square:hover,
.icon-rounded:hover,
.icon-circled:hover {
    background-color: #929292;
}
[class^="icon-"].active,
[class*=" icon-"].active {
    background-color: #929292;
}

/* fancybox */
.fancybox-close:hover {
	background-color:#929292;
}
.fancybox-nav:hover span {
	background-color:#929292;
}

/* parallax c slider */
.da-slide .da-link:hover{
	background: #68A4C4;
	border: 4px solid #929292;
}

.da-dots span{
	background: #929292;
}

/* flexslider */
#featured .flexslider .slide-caption {
	border-left:5px solid #929292;
}

/* Nivo slider */
.nivo-directionNav a:hover {
    background-color: #929292;
}
.nivo-caption, .caption {
	border-bottom: #929292 5px solid;
}

/* footer */
footer{
	background:#929292;
}
#sub-footer{
	background:#929292;
}
.totheleft{
    left:0px;
    margin-left:0px;
    padding-left:0px;
}
.borderbottom{
    border-bottom: 1px solid #9C9C9C;
}

/* header specific client zone menu */

div.menu-klz
{ display: block; margin: 0px 0px 15px 0px; }

div.menu-klz div.container
{ padding: 7px 25px; margin: 0px auto; font-size: 12px; }

div.menu-klz div.menu-lijn
{ display: block; height: 1px; border-top: 1px solid #929292; }

@media (min-width: 361px)
	{
		div.menu-klz div.menu-lijn
		{ margin: 0px 20px; }
	}
@media (max-width: 360px)
	{
		div.menu-klz div.menu-lijn
		{ margin: 0px; }
	}

a.klz
{ margin-right: 12px; white-space: nowrap; }
a.klz:active, a.klz:hover
{ text-decoration: none; }

table.apps-klz
{ display: block; }
table.apps-klz td
{ vertical-align: top; }

a.app
{ display: inline-block; margin: 0px; padding: 0px 12px; color: #69C9CA; 
 border-top: 1px solid transparent; border-bottom: 1px solid transparent; }
a.app:active, a.app:hover
{ color: #929292; text-decoration: none; border-bottom: 1px solid #69C9CA; }

a.actief
{ color: #929292 };